<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UI.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnStringLocal" providerName="System.Data.SqlClient" connectionString="Server=localhost;Database=tp2_net;Integrated Security=false; User=net; Password=acmilan;"/>
    <add name="ConnStringExpress" providerName="System.Data.SqlClient" connectionString="Server=localhost\SQLEXPRESS;Database=tp2_net; Integrated Security=false; User=net; Password=acmilan;"/>
    <add name="ConnStringServerISI" providerName="System.Data.SqlClient" connectionString="Server=serverisi; Database=tp2_net; Integrated Security=false; User=net; Password=net;"/>
  </connectionStrings>
  <userSettings>
    <UI.Desktop.Properties.Settings>
      <setting name="True" serializeAs="String">
        <value>True</value>
      </setting>
    </UI.Desktop.Properties.Settings>
  </userSettings>
</configuration>